<div class="jumbotron" style="margin: 8em auto 8em auto">
    <div class="row">
        <div class="col-xl-2">
            <img src="images/notfound.svg" style="width: 8em">
        </div>
        <div class="col-xl-8">
            <h1 class="display-3">ERREUR : CODE 404 !</h1>
            <p class="lead">Page non trouvée :(</p>
        </div>  
    </div>
</div>