<!-- Footer -->
<hr>
<footer>

    <!-- Copyright -->
    <div class="text-center py-5">© 2020 Copyright:
      <a href="https://brindustries.fr/"> Brindustries.fr</a>
    </div>
    <!-- Copyright -->
  
  </footer>
<!-- Footer -->