<hr>
<h1 class='py-3'>Gestion du mot de passe</h1>

<% if(notification) { %>
    <div class="<%= classNotification %>" role="alert"> <%= notification %> </div>
<% } %>

<form action="" method="POST" class='py-5'>
<div class="form-group">
    <label for="pwd_old">Mot de passe actuel</label>
    <input type="password" name="pwd_old" class="form-control" id="pwd_old" aria-describedby="pwdHelp" placeholder="Entrez votre mot de passe actuel">
    <small id="pwdHelp" class="form-text text-muted">Le mot de passe que vous avez utilisé précédement pour vous connecter.</small>
</div>
<hr class='py-3'>
<div class="form-group">
    <label for="pwd_new">Nouveau mot de passe</label>
    <input type="password" name="pwd_new" class="form-control" id="pwd_new" aria-describedby="pwdHelp" placeholder="Entrez votre nouveau mot de passe">
</div>
<div class="form-group">
    <label for="pwd_confirm">Confirmez le nouveau mot de passe</label>
    <input type="password" name="pwd_confirm" class="form-control" id="pwd_confirm" aria-describedby="pwdHelp" placeholder="Confirmez votre nouveau mot de passe">
</div>

</fieldset>
    <button type="submit" class="btn btn-primary">Modifier</button>
</fieldset>
</form>