<div class="jumbotron" style="margin: 8em auto auto auto">
    <div class="row">
        <div class="col-xl-2">
            <img src="images/private.svg" style="width: 8em">
        </div>
        <div class="col-xl-8">
            <h1 class="display-3">Cette page necessite une connexion</h1>
            <p class="lead">Ne brûlez pas les étapes ;)</p>
        </div>  
    </div>
</div>